*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    color: rgb(255, 0, 0);
    background: rgb(255, 255, 255) !important;
    padding: 20px;
    z-index: 211;
}

.carousel-control-next-icon,.carousel-control-prev-icon {

    background-color: rgb(0, 0, 0);
}

.hh
{
    max-height: 500px;
}

.dhrka
{
    width: 220px;
    border-bottom: 2px solid rgb(255, 0, 0);
    margin: auto;
}

.carta
{
    margin-bottom: 163px;
}
