.akm
{
    width:50px;
    /* color: green; */
    border: 1px solid rgb(0, 240, 20);
}
.ol
{
    font-size:12px;

}
.oll
{
    line-height: 29px;
    font-size: 14px;

}
.mnb
{
    height:30px;
    line-height:1;
   
}

.asqaz
{


    color: red;
}
