.asqm
{
    border-top: 6px solid rgb(238, 255, 0);

}
.qwq
{
    border-top: none;
}
.silver {
    border-top: 6px solid rgb(255, 0, 0);

}
.plat
{
    border-top: 6px solid rgb(0, 238, 255);

}
.ala
{
    margin-top: 28px;
}

.ulala
{
    height:310px;
}
.ookk
{
    color: gold;
    font-size:40px;
    margin-top: 30px;
}